/*active_join*/

#active_join{width:98%;height:153px;margin:0px auto 60px;}
#active_join_style{width:100%;height:50px;margin:0px auto;border-bottom:1px solid #EEE;}
.active_join_a{float:left;width:25%;height:50px;
text-align:center;line-height:50px;font-size:16px;color:#000;overflow:hidden;}
.active_join_b{float:right;width:75%;height:50px;}
.active_join_b input[type=text]{width:98%;height:30px;margin:10px 1%;border:none;background-color:#FFF;
appearance:button;-moz-appearance:button;-webkit-appearance:button;
text-align:left;line-height:30px;font-size:14px;color:#999;overflow:hidden;}



/*active_join_ok*/
#active_join_ok{width:100%;height:50px;position:fixed;bottom:0px;left:0px;background-color:#FC5488;}
#active_join_ok input{width:98%;height:48px;margin:1px 1%;background-color:#FC5488;border:none;
text-align:center;line-height:48px;font-size:18px;color:#FFF;overflow:hidden;}