*{margin:0px;padding:0px;}
*{text-decoration:none;font-family:Microsoft YaHei;}

/*bottom_one*/
#bottom_one{width:100%;height:50px;background-color:#FFF;border-top:1px solid #EEE;
position:fixed;bottom:0px;left:0px;z-index:100;}
#bottom_one_a{float:left;width:20%;height:46px; padding-top:4px;}
#bottom_one_a img{width:20px;height:20px;display:block;margin:2px auto 0px auto;}
#bottom_one_a{text-align:center;line-height:20px;font-size:12px;color:#999;overflow:hidden;}

/*top_banner*/
#top_banner{width:100%;height:50px;background-color:#FC5488;}
.top_banner_a{float:left;width:20%;height:50px;}
.top_banner_a img{width:30px;height:30px;display:block;margin:10px auto;}
.top_banner_b{float:left;width:60%;height:50px;
text-align:center;line-height:50px;font-size:18px;color:#FFF;overflow:hidden;}