
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/style/active_view.css">

<div class="active_view_join_title" style="clear: both;position: fixed;top: -10px;background-color: #fff;">
	已报名的小伙伴：
	<span style="float: right;">男[{$boy}] 女[{$girl}]</span>
</div>
<div id="active_view_join" style="text-align: center;clear: both;margin-top: 60px;">
{if empty($join)}
	<img src="{MODULE_URL}template/mobile/style/img/ku.png" />
	<div style="text-align: center;width: 100%;color: #8a8a8a;">还无人报名~</div>
{else}
	
	<style>
		.active_view_join_a{margin: 1%;width: 23%;}
		.active_view_join_a img{width: 85%;}
		.boy{background-color: #0098F0;border-radius: 5px;}
		.girl{background-color: #FC5488;border-radius: 5px;}
	</style>
	
	{loop $join $key $_join}
	{php $ff = $_join['join_sex'];}
	<div class="active_view_join_a <?php if($ff=='1'){echo 'boy';}if($ff=='2'){echo 'girl';} ?>"><img src="<?php echo getavatar($_join['openid'],$_W['uniacid'],$_W['attachurl']);?>"/></div>
	{/loop}
	<!--
	<?php for($i=0;$i<100;$i++){ ?>
	<div class="active_view_join_a girl"><img src="<?php echo getavatar($join[0]['openid'],$_W['uniacid'],$_W['attachurl']);?>"/></div>
	<?php } ?>
	-->
{/if}
</div>
