<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/ui/css/amazeui.min.css">
  <link rel="stylesheet" href="{MODULE_URL}template/mobile/style/ui/css/app.css">
  <script src="{MODULE_URL}template/mobile/style/ui/js/jquery.min.js"></script>
  <script src="{MODULE_URL}template/mobile/style/ui/js/amazeui.min.js"></script>

  
  <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'  >
  <ul class="am-slides" >

  {loop $ads $key $ads}
      <li>
        	<a href="{$ads['ads_link']}"><img style="width:100%;height:160px;" src="{$_W['attachurl']}{$ads['ads_pic']}"></a>
         
      </li>
	  {/loop}
     
  </ul>
</div>
