{template 'top'}
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/style/chat.css">

<div id="chat_one">表白信箱</div>

<div id="chat_two">

<a href="{php echo $this->createMobileUrl('news');}">
<div id="chat_two_style">
<div class="chat_two_a"><img src="images/quan.jpg"/></div>
<div class="chat_two_b"><p class="chat_two_b_1">天街小雨润如酥</p><p class="chat_two_b_2">你好！你在干嘛？</p></div>
<div class="chat_two_c"><img src="{MODULE_URL}public/images/weidu.jpg"/><p class="chat_two_c_2">2分钟前</p></div>
</div>
</a>

</div>

{template 'bottom'}