{template 'top'}

<!--
<img src="{$user['avatar']}" style="width:50px;height:50px;" />{$user['lon']},{$user['lat']},{$user['uid']}
<hr/>

{loop $users $key $value}
<img src="{$value['avatar']}" style="width:50px;height:50px;" />{$value['lon']},{$value['lat']},{$value['uid']}<br/>
{/loop}
</br/>-->

<div style="padding: 10px 20px;background-color: #ff3366;color:#fff;position: absolute;top: 0;right: 0;z-index:10000;" onclick="openlist()">列表模式</div>
<script>
	function openlist(){
		var url = "{php echo $this->createMobileUrl('fujinlist');}";
		window.location.href=url;
	}
</script>

<div id="map" style="width:100%;"></div>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=2d91c93f3322cc37c798dc6f9d806f38"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

<script>
	AMapUI.loadUI(['misc/PositionPicker'], function(PositionPicker) {
		
		var winh = window.screen.availHeight;
		document.getElementById('map').style.height = winh+'px';
		
		
		var markers = [{
        position: ["{$user['lon']}", "{$user['lat']}"],
        uid: "{$user['uid']}",
        nickname: "{$user['nickname']}",
        avatar: "{$user['avatar']}",
    }];
        
    <?php
    	foreach($users as $k => $v){
				if($v['lon'] == 'undefined'){
					unset($users[$k]);
				}else{
					echo ' var lat='.$v['lat'].';';
					echo ' var lon='.$v['lon'].';';
					echo ' var uid='.$v['uid'].';';
					echo ' var nickname="'.$v['nickname'].'";';
					echo ' var avatar="'.$v['avatar'].'";';
					echo ' var obj={};';
					echo ' obj.position = [lon,lat];';
					echo ' obj.uid = uid;';
					echo ' obj.nickname = nickname;';
					echo ' obj.avatar = avatar;';
					echo ' markers.push(obj);';
				}				
			}
    ?>
        
    var map = new AMap.Map('map',{
        resizeEnable: true,
        zoom: 16,
        center: [markers[0].position[0], markers[0].position[1]]
    });
    
    var infoWindow = new AMap.InfoWindow();
    
    for(var i=0;i<markers.length;i++){    	
			var marker = new AMap.Marker({
				position: [markers[i].position[0], markers[i].position[1]],
				//icon: markers[i].avatar,
				icon: 'http://vp.vipin.net.cn/attachment/images/people.png',
				map: map
	    });
	    
	    marker.content = JSON.stringify(markers[i]);
	    //给Marker绑定单击事件
	    marker.on('click', markerClick);						    
    }
    map.setFitView();
    function markerClick(e){
    		var obj = e.target.content;
    		obj = JSON.parse(obj);
    		avatar = obj.avatar;
    		nickname = obj.nickname;
    		uid = obj.uid;
    		var str = '<div onclick="location=\'http://vp.vipin.net.cn/app/index.php?i=8&c=entry&uid='+uid+'&do=view&m=hulu_love\'">';    		
    		str += '<div style="text-align:center;"><img src="'+avatar+'" style="width:100px;height:100px;border-radius:50%;"/></div>';
    		str += '<div style="font-size:16px;text-align:center;">'+nickname+'</div>';
    		str += '</div>';
		    infoWindow.setContent(str);
		    infoWindow.open(map, e.target.getPosition());
		}
     
	});
	
</script>


{template 'bottom'}
