{template 'top'}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/css/zui.min.css">
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/style/home.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="{MODULE_URL}public/jquery.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/style/userlist.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/js/zui.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/style/layer/layer.js"></script>
<style>
#logo{ padding:5px 0; line-height:30px;}
#moreads{ width:100%; text-align:center;}
#moreads img{ margin:0 auto; height:60px; width:100%}
.nav-tabs a{ font-size:13px;}
.nav-tabs li.active a{ color:#F09;}
#piclist{ font-size:12px;}
.signuptitle{ text-align:center;padding:10px 0;}
.fg{background-color:#eaeaea; height:15px; width:100%; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.activity{ font-size:13px;}
.f13{font-size:13px;}
.abg{ width:100%; height:50px; text-align:center; color:#FFF; padding-top:3px; background:url({MODULE_URL}public/images/abg.jpg) repeat-x}
.abg h4{ padding:0; margin:0;}
.abg p{ font-size:13px}
#home_marquee{width:100%;height:30px;margin:0px auto;
text-align:left;line-height:30px;font-size:13px;color:#333;overflow:hidden; border-top:1px solid #eaeaea;}
</style>



<div class="container"><div class="row clearfix">
<div class="col-xs-10" style="text-align:left;line-height:50px; height:50px;">
<img src="{MODULE_URL}public/images/logo.png" style=" display:inline-block; height:40px;">
</div>
<div class="col-xs-2" style="line-height:50px; text-align:right;"><img src="{MODULE_URL}public/images/feedback.png" style="width:25px; height:30px;"></div>
</div></div>

<div>
<div style="width:10%; float:left; text-align:center; border-top:1px solid #eaeaea; background-color:#fafafa; height:29px;"><i class="fa fa-volume-up" style="color:#F39;"></i></div>
<div style="width:90%; float:right;">
{if (!empty($guanli['guanli_fengmian_marquee']))}
<div id="home_marquee">
<marquee>{$guanli['guanli_fengmian_marquee']}</marquee>
</div>
{else}{/if}
</div>
<div style="clear:both"></div>
</div><div style="clear:both"></div>
{template 'ads'}


<div id="home_top" style="padding:10px 0 10px 0; margin-bottom:30px;">

<!--
<a href="#" onclick="getmoreuser('{php echo $this->createMobileUrl('userlist',array('vid'=>'1'));}')">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d1.png"/></div>
<div class="home_top_b">最新</div>
</div>
</a>
-->

<a href="#" onclick="qiandao()">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/pencil.png"/></div>
<div class="home_top_b">签到</div>
</div>
</a>
<script>
function qiandao(){
layer.open({
  type: 2,
  title: '签到',
  shadeClose: true,
  shade: 0.8,
  area: ['300px', '80%'],
  content: "{php echo $this->createMobileUrl('qiandao');}" //iframe的url
}); 
}
</script>

<a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'2'));}" >
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/woman.png"/></div>
<div class="home_top_b">找女友</div>
</div>
</a>

<a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'3'));}">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d31.png"/></div>
<div class="home_top_b">找男友</div>
</div>
</a>


<a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'7'));}">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/heart.png"/></div>
<div class="home_top_b">速配</div>
</div>
</a>


<a href="{php echo $this->createMobileUrl('active');}">
<div id="home_top_style" class="mt10">
<div class="home_top_a"><img src="{MODULE_URL}public/images/gift.png"/></div>
<div class="home_top_b">活动</div>
</div>
</a>


<!--<a href="#" onclick="getmoreuser('{php echo $this->createMobileUrl('userlist',array('vid'=>'4'));}')">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d4.png"/></div>
<div class="home_top_b">认证会员</div>
</div>
</a>-->

<a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'5'));}">
<div id="home_top_style" class="mt10">
<div class="home_top_a"><img src="{MODULE_URL}public/images/vip11.png"/></div>
<div class="home_top_b">VIP</div>
</div>
</a>

<a href="#" onclick="getmoreuser('{php echo $this->createMobileUrl('userlist',array('vid'=>'6'));}')">
<div id="home_top_style"  class="mt10">
<div class="home_top_a"><img src="{MODULE_URL}public/images/shop.png"/></div>
<div class="home_top_b">商城</div>
</div>
</a>

<!--<a href="#" onclick="getmoreuser('{php echo $this->createMobileUrl('userlist',array('vid'=>'6'));}')">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d6.png"/></div>
<div class="home_top_b">排行榜</div>
</div>
</a>-->

<!--<a href="{php echo $this->createMobileUrl('talk');}">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d7.png"/></div>
<div class="home_top_b">说说</div>
</div>
</a>-->

<!--<a href="{php echo $this->createMobileUrl('my');}">
<div id="home_top_style">
<div class="home_top_a"><img src="{MODULE_URL}public/images/d8.png"/></div>
<div class="home_top_b">个人中心</div>
</div>
</a>-->

<a href="{php echo $this->createMobileUrl('jidi');}" >
<div id="home_top_style" class="mt10">
<div class="home_top_a"><img src="{MODULE_URL}public/images/building.png"/></div>
<div class="home_top_b">基地</div>
</div>
</a>
<div style="clear:both"></div>
</div>

<div class="fg mb10 mt10"></div>


<div class="container"><div class="row">
<div class="col-xs-12" id="piclist">
<ul class="nav nav-tabs">
  <li class="active"><a href="###" data-target="#tab2Content1" data-toggle="tab">推荐</a></li>
  <li><a href="###" data-target="#tab2Content2" data-toggle="tab">最新</a></li>
  <li><a href="###" data-target="#tab2Content3" data-toggle="tab">男神</a></li>
  <li><a href="###" data-target="#tab2Content4" data-toggle="tab">女神</a></li>
</ul>
<div class="tab-content" style="margin-top:5px;">
  <div class="tab-pane fade active in" id="tab2Content1">
   <div class="cards">
   {loop $vipuser $key $user}
   <div class="col-xs-4 col-sm-4 col-lg-3">
   <a class="card" href="{php echo $this->createMobileUrl('view',array('uid'=>$user['uid']));}">
   {if $user['photo']['pic_url']}
   <img src="{$_W['attachurl']}{$user['photo']['pic_url']}" alt="" style=" height:120px; width:100%" >
   {else}
   {if $user['sex']==1}
   <img src="{MODULE_URL}public/boy.png"  style=" height:120px; width:100%">
   {else}
   <img src="{MODULE_URL}public/girl.png"  style=" height:120px; width:100%">
   {/if}
   {/if}
   <div class="card-heading" style="padding:3px 10px 3px 10px; color:#333">{$user['nickname']} <span class="text-muted">{$user['age']}岁</span>
   {if $user['sex']==1}
   <img src="{MODULE_URL}public/images/boy2.png" style=" display:inline-block; width:12px;">
   {else}
   <img src="{MODULE_URL}public/images/girl2.png" style=" display:inline-block; width:12px;">
   {/if}
   </div>
   <div class="card-content text-muted"  style="padding:0 10px 3px 10px;">
   <img src="{MODULE_URL}public/images/VIP1.png" style=" display:inline-block; width:15px;">
   {if $user['car'] == 1}
   <img src="{MODULE_URL}public/images/car.png" style=" display:inline-block; width:15px;">
   {/if}{if $user['house'] == 1}
   <img src="{MODULE_URL}public/images/house.png" style=" display:inline-block; width:12px;">
   {/if}</div>
   </a>
   </div>
  {/loop}
  </div> 
  <a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'5'));}" class="pull-right">更多...</a>
  </div>
  
  <div class="tab-pane fade" id="tab2Content2">
  <div class="cards">
   {loop $newuser $key $user}
  <div class="col-xs-4 col-sm-4 col-lg-3">
   <a class="card" href="{php echo $this->createMobileUrl('view',array('uid'=>$user['uid']));}">
     {if $user['photo']['pic_url']}
  <img src="{$_W['attachurl']}{$user['photo']['pic_url']}" alt="" style=" height:120px; width:100%" >
  {else}
  {if $user['sex']==1}
    <img src="{MODULE_URL}public/boy.png"  style=" height:120px; width:100%">
  {else}
  <img src="{MODULE_URL}public/girl.png"  style=" height:120px; width:100%">
  {/if}
  {/if}
  <div class="card-heading" style="padding:3px 10px 3px 10px; color:#333">{$user['nickname']} <span class="text-muted">{$user['age']}岁</span>
  {if $user['sex']==1}
     <img src="{MODULE_URL}public/images/boy2.png" style=" display:inline-block; width:12px;">
  {else}
     <img src="{MODULE_URL}public/images/girl2.png" style=" display:inline-block; width:12px;">
  {/if}
  </div>
  <div class="card-content text-muted"  style="padding:0 10px 3px 10px;">
 <img src="{MODULE_URL}public/images/bottom9.png" style=" display:inline-block; width:15px;"> 
  {if $user['car'] == 1}
   <img src="{MODULE_URL}public/images/car.png" style=" display:inline-block; width:15px;">
   {/if}{if $user['house'] == 1}
   <img src="{MODULE_URL}public/images/house.png" style=" display:inline-block; width:12px;">
  {/if}
  </div>
	</a>
  </div>
{/loop}
 </div> 
<a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'1'));}" class="pull-right">更多...</a>
  </div>
  
  <div class="tab-pane fade" id="tab2Content3">
   <div class="cards">
     {loop $boy $key $user}
  <div class="col-xs-4 col-sm-4 col-lg-3">
   <a class="card" href="{php echo $this->createMobileUrl('view',array('uid'=>$user['uid']));}">
     {if $user['photo']['pic_url']}
  <img src="{$_W['attachurl']}{$user['photo']['pic_url']}" alt="" style=" height:120px; width:100%" >
  {else}
  {if $user['sex']==1}
     <img src="{MODULE_URL}public/boy.png"  style=" height:120px; width:100%">
  {else}
  <img src="{MODULE_URL}public/girl.png"  style=" height:120px; width:100%">
  {/if}
  {/if}
<div class="card-heading" style="padding:3px 10px 3px 10px; color:#333">{$user['nickname']} <span class="text-muted">{$user['age']}岁</span>
  {if $user['sex']==1}
     <img src="{MODULE_URL}public/images/boy2.png" style=" display:inline-block; width:12px;">
  {else}
     <img src="{MODULE_URL}public/images/girl2.png" style=" display:inline-block; width:12px;">
  {/if}
  </div>
  <div class="card-content text-muted"  style="padding:0 10px 3px 10px;">
  <img src="{MODULE_URL}public/images/bottom9.png" style=" display:inline-block; width:15px;"> 
  {if $user['car'] == 1}
   <img src="{MODULE_URL}public/images/car.png" style=" display:inline-block; width:15px;">
   {/if}{if $user['house'] == 1}
   <img src="{MODULE_URL}public/images/house.png" style=" display:inline-block; width:12px;">
  {/if}
  
  </div>
  </a>
  </div>
  {/loop}
  </div>
  <a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'3'));}" class="pull-right">更多...</a>
  </div>
  
  <div class="tab-pane fade" id="tab2Content4">
  <div class="cards">
     {loop $girl $key $user}
  <div class="col-xs-4 col-sm-4 col-lg-3">
   <a class="card" href="{php echo $this->createMobileUrl('view',array('uid'=>$user['uid']));}">
       {if $user['photo']['pic_url']}
  <img src="{$_W['attachurl']}{$user['photo']['pic_url']}" alt="" style=" height:120px; width:100%" >
  {else}
  {if $user['sex']==1}
     <img src="{MODULE_URL}public/boy.png"  style=" height:120px; width:100%">
  {else}
  <img src="{MODULE_URL}public/girl.png"  style=" height:120px; width:100%">
  {/if}
  {/if}
  <div class="card-heading" style="padding:3px 10px 3px 10px; color:#333">{$user['nickname']} <span class="text-muted">{$user['age']}岁</span>
  {if $user['sex']==1}
     <img src="{MODULE_URL}public/images/boy2.png" style=" display:inline-block; width:12px;">
  {else}
     <img src="{MODULE_URL}public/images/girl2.png" style=" display:inline-block; width:12px;">
  {/if}
  </div>
  <div class="card-content text-muted"  style="padding:0 10px 3px 10px;">
   <img src="{MODULE_URL}public/images/bottom9.png" style=" display:inline-block; width:15px;"> 
  {if $user['car'] == 1}
   <img src="{MODULE_URL}public/images/car.png" style=" display:inline-block; width:15px;">
   {/if}{if $user['house'] == 1}
   <img src="{MODULE_URL}public/images/house.png" style=" display:inline-block; width:12px;">
  {/if}</div>
	</a>
  </div>
{/loop}
  </div>
  <a href="{php echo $this->createMobileUrl('userlist',array('vid'=>'2'));}" class="pull-right">更多...</a>
  </div>
</div>
</div></div></div>


<div class="fg mt10"></div>

<div class="abg">

<p style="padding:0; margin:0; font-size:15px;">交友活动</p>
<p style="padding:0; margin:0">心动的相亲Party，快来，等你喔</p>

</div>
<div class="container" style="margin-top:0; padding-top:0; margin-top:10px;"><div class="row" style="margin-top:0; padding-top:0">
 {loop $signup $key $v}
<div class="col-xs-12" style="margin-top:0; padding-top:0; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #eaeaea;" class="activity">
<a href="{php echo $this->createMobileUrl('active_view',array('vid'=>$v['active_id']));}" style="color:#333">
<div class="col-xs-5"><img src="{$_W['attachurl']}{$v['image']}" alt="" style="height:110px; width:100%"></div>
<div class="col-xs-7">
<h4 style="padding:0;margin:0;font-size:15px;">{$v['active_title']}</h4>
<div class="f13 mt10">时间：{$v['active_starttime']}</div>
<div class="f13">地点：{$v['active_address']}</div>
<div class="f13">男士：{$v['active_boy']}人 ; 女士：{$v['active_girl']}人</div>
<div>
{if $v['active_pid']==4}<div class="label label-danger">报名中</div>{/if}
{if $v['active_pid']==5}<div class="label label-success">进行中</div>{/if}
{if $v['active_pid']==6}<div class="label label-default">已结束</div>{/if}
</div>
</div>
</a>
</div>
{/loop}
<a href="{php echo $this->createMobileUrl('active');}" class="pull-right" style="font-size:12px; padding-right:10px;">更多...</a>
</div></div>

<div class="container mt10"><div class="row">
<div class="col-xs-12">
<div id="moreads"><img src="{$_W['attachurl']}{$moreads['moreads_pic']}" class="img-responsive" ></div>
</div></div></div>

<div style="width:100%; text-align:center; font-size:12px; margin-top:20px;">版权所有：幸福工程婚恋平台</div>

<div style="padding-bottom:50px; margin-bottom:50px;"></div>

{template 'bottom'}