{template 'top'}
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/style/my_gift.css">
<!--top_banner开始-->
<div id="top_banner">
<a href="javascript:history.go(-1);">
<div class="top_banner_a"><img src="{MODULE_URL}public/images/top_1.png"/></div>
</a>
<div class="top_banner_b">收到的礼物</div>
<a href="{php echo $this->createMobileUrl('fengmian');}">
<div class="top_banner_a"><img src="{MODULE_URL}public/images/top_2.png"/></div>
</a>
</div>
<!--top_banner结束-->


<div id="my_gift_one">

{loop $gift $key $gift}

<div class="my_gift_one_a">
<img src="<?php echo getgiftpic($gift['gift_id'],$_W['uniacid'],$_W['attachurl']);?>"/>
<p class="my_gift_one_a_1"><?php echo getgiftname($gift['gift_id'],$_W['uniacid']);?></p>
</div>

{/loop}

</div>

{template 'bottom'}