{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}template/web/public.css">

<div class="panel panel-info">
<div class="panel-heading">城市编辑</div>
<div id="love_one">

<form action="" method="POST">
<div id="love_one_style">
<div class="love_one_a">城市名称</div>
<div class="love_one_b"><input type="text" name="city_name" value="{$city['city_name']}" placeholder="请输入城市名称" required="required"/></div>
</div>

<div id="love_one_style">
<div class="love_one_a">城市状态</div>
<div class="love_one_b">
<select name="city_pid">
<option value="1" {if $city['city_pid']=='1'}selected="selected"{else}{/if}>显示</option>
<option value="2" {if $city['city_pid']=='2'}selected="selected"{else}{/if}>隐藏</option>
</select>
</div>
</div>

<div id="love_one_style">
<div class="love_one_a">城市排序</div>
<div class="love_one_b"><input type="number" name="city_did" value="{$city['city_did']}" placeholder="请输入城市排序" required="required"/></div>
</div>

<div id="love_one_style">
<div class="love_one_a">城市类型</div>
<div class="love_one_b">
<select name="city_type">
<option value="1" {if $city['city_type']=='1'}selected="selected"{else}{/if}>省（包括直辖市）</option>
<option value="2" {if $city['city_type']=='2'}selected="selected"{else}{/if}>市（包括地级市）</option>
<option value="3" {if $city['city_type']=='3'}selected="selected"{else}{/if}>县（包括县级市）</option>
<option value="4" {if $city['city_type']=='4'}selected="selected"{else}{/if}>镇</option>
</select>
</div>
</div>

<div id="love_one_style">
<div class="love_one_a">城市值</div>
<div class="love_one_b">
<input type="number" name="city_value" value="{$city['city_value']}" placeholder="请输入城市值" required="required"/>
</div>
</div>

<div id="love_one_ok">
<input type="submit" name="submit" value="修 改"/>
<input type="hidden" name="token" value="{$_W['token']}"/>
</div>

</form>
</div>
</div>
{template 'common/footer'}