
<tr>

<td><span class="label label-default">{$contact['contact_id']}</span></td>



<td><?php echo getnickname($contact['openid'],$_W['uniacid']);?></td>


<td><img style="width:60px;height:60px;border-radius:50%;"src="<?php echo getavatar($contact['openid'],$_W['uniacid']);?>"/></td>


<td><?php echo getnickname($contact['contact_openid'],$_W['uniacid']);?></td>


<td><img style="width:60px;height:60px;border-radius:50%;"src="<?php echo getavatar($contact['contact_openid'],$_W['uniacid']);?>"/></td>





<td><span class="label label-success">{$contact['contact_price']}</span></td>


<td>{php echo date('Y-m-d H:i:s',$contact['contact_time']);}</td>



</tr>



