<div class="panel panel-info">
<div class="panel-heading">收到的礼物</div>

<table class="table table-hover">

<thead>
<tr>
<th>头像</th>
<th>UID/等级</th>
<th>昵称</th>
<th>礼物图标</th>
<th>礼物名称</th>
<th>金额/提成</th>
<th>时间</th>
</tr>
</thead>

<tbody>


{loop $receive $key $receive}
<tr>
<td><img style="width:80px;height:80px;border-radius:50%;"src="<?php echo getavatar($receive['receive_openid'],$_W['uniacid']);?>"/></td>

<td><span class="label label-default"><?php echo getuid($receive['receive_openid'],$_W['uniacid']);?></span> <?php echo getuserupid($receive['receive_openid'],$_W['uniacid']);?></td>

<td><?php echo getnickname($receive['receive_openid'],$_W['uniacid']);?></td>

<td><img style="width:60px;height:60px;border-radius:50%;" src="<?php echo getgiftpic($receive['gift_id'],$_W['uniacid'],$_W['attachurl']);?>"/></td>

<td><?php echo getgiftname($receive['gift_id'],$_W['uniacid']);?></td>

<td><span class="label label-default">{$receive['gift_price']}</span> <span class="label label-success">{php echo($receive['gift_price']*$make['make_four_divided']);}</span></td>

<td>{php echo date('Y-m-d H:i:s',$receive['receive_time']);}</td>
</tr>
{/loop}


</tbody>

</table>

</div>