

<div class="panel panel-info">
<div class="panel-heading">提现资料</div>
<div id="love_two">

<div id="love_two_style">
<div class="love_two_a">微信账号：</div>
<div class="love_two_b">{$more['more_withdraw_wechat']}</div>
</div>

<div id="love_two_style" style="height:200px;">
<div class="love_two_a" style="height:200px;">微信收款码：</div>
<div class="love_two_b" style="height:200px;"><img style="width:200px;height:200px;" src="{$_W['attachurl']}{$more['more_withdraw_wechat_qrcode']}"/></div>
</div>

<div id="love_two_style">
<div class="love_two_a">支付宝账号：</div>
<div class="love_two_b">{$more['more_withdraw_alipay']}</div>
</div>

<div id="love_two_style" style="height:200px;">
<div class="love_two_a" style="height:200px;">支付宝收款码：</div>
<div class="love_two_b" style="height:200px;"><img style="width:200px;height:200px;" src="{$_W['attachurl']}{$more['more_withdraw_alipay_qrcode']}"/></div>
</div>



</div>
</div>