{template 'common/header'}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有消息</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">显示的消息</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">隐藏的消息</a></li>
	<!--
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

		<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">所有消息</div>
<table class="table table-hover">
<thead>
{template 'web/banner/chat'}
<thead>
<tbody>
{loop $chat $key $chat}
{template 'web/page/chat_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
    <div role="tabpanel" class="tab-pane" id="profile">

			<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">显示的消息</div>
<table class="table table-hover">
<thead>
{template 'web/banner/chat'}
<thead>
<tbody>
{loop $chat1 $key $chat}
{template 'web/page/chat_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
    <div role="tabpanel" class="tab-pane" id="messages">

			<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">隐藏的消息</div>
<table class="table table-hover">
<thead>
{template 'web/banner/chat'}
<thead>
<tbody>
{loop $chat2 $key $chat}
{template 'web/page/chat_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
	<!--
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	-->
  </div>

</div>

{template 'common/footer'}