{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}template/web/public.css">
<script type="text/javascript" src="{MODULE_URL}template/web/js.js"></script>


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">喜欢管理</a></li>
	<!--
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">


<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">喜欢管理</div>
<table class="table table-hover">
<thead>
{template 'web/banner/like'}
<thead>
<tbody>
{loop $like $key $like}
{template 'web/page/like_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->
	

	</div>
	<!--
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	-->
  </div>

</div>

{template 'common/footer'}