{template 'common/header'}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">所有订单</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已支付订单</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">未支付订单</a></li>
	<!--
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">VIP会员</a></li>
	<li role="presentation"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">黑名单</a></li>
	-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

	
	<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">所有订单</div>
<table class="table table-hover">
<thead>
{template 'web/banner/order'}
<thead>
<tbody>
{loop $order $key $order}
{template 'web/page/order_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
    <div role="tabpanel" class="tab-pane" id="profile">

	<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">已支付订单</div>
<table class="table table-hover">
<thead>
{template 'web/banner/order'}
<thead>
<tbody>
{loop $ordertwo $key $order}
{template 'web/page/order_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
    <div role="tabpanel" class="tab-pane" id="messages">

	
	<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">未支付订单</div>
<table class="table table-hover">
<thead>
{template 'web/banner/order'}
<thead>
<tbody>
{loop $orderone $key $order}
{template 'web/page/order_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
	<!--
    <div role="tabpanel" class="tab-pane" id="settings">

	
	

	</div>
	<div role="tabpanel" class="tab-pane" id="one">

	
	

	</div>
	-->
  </div>

</div>

{template 'common/footer'}